{{setTitle "Create Course"}}

<section id="create-container">
    <div class="create-container-info">
        <h1>Create Course</h1>
        <form method="POST">

            {{>course}}

            <input type="submit" id="btn" value="Create">
        </form>

    </div>
</section>