{{setTitle 'Edit Course'}}
<section id="edit-container">
    <div class="edit-container-info">
        <h1>Edit Course</h1>
        <form method="POST">

            {{>course}}

            <input type="submit" id="btn" value="Edit">
        </form>
    </div>
</section>