{{setTitle 'Create Page'}}

<section class="create-form-container">

    <form method="post">
        <h3>Create Book Review</h3>
        {{>form}}
        <input type="submit" value="Create" class="btn">
    </form>
</section>