{{setTitle 'Create Page'}}

<section id="create-container">
    <div class="create-container-info">
        <!-- Do not forget to change the path to the image -->
        <img src="/style/img/blog-img12.jpg" alt="image">

        <form method="post" class="container-text">

            <h2>Create Publication</h2>
            <p>Add your own masterpiece!</p>

            {{>inputs}}

            <button class="create-btn">Create</button>

        </form>

    </div>
</section>