{{setTitle 'Create Page'}}

<!-- Create Page -->
<section id="create-section" class="">

    <h1 class="item">New Auction</h1>

    {{>form}}
    <div class="align-center">
        <input class="action" type="submit" value="Publish Item">
    </div>
    </div>

    </form>

    </div>

</section>