{{setTitle 'Create Page'}}

<main class="create">
    <!-- Create Page (Only for logged-in users) -->
    <section id="create">
        <div class="form">
            <h2>Add item</h2>
            <form class="create-form" method="post">
                {{>create-editForm}}

                <button type="submit">Post</button>
            </form>
        </div>
    </section>
</main>