{{setTitle 'Edit Page'}}

<main class="edit">
    <!-- Edit Page (Only for logged-in users) -->
    <section id="create">
        <div class="form">
            <h2>Edit item</h2>
            <form class="create-form" method="post">
                {{>create-editForm}}
                <button type="submit">Edit</button>
            </form>
        </div>
    </section>
</main>