<div class="item padded align-center">

    <form class="layout left large" method="post">

        <div class="col aligned">
            <label>
                <span>Title</span>
                <input type="text" name="title" value="{{data.title}}"></label>
            <label>
                <span>Category</span>
                <select name="category">
                    <option value="estate">Real Estate</option>
                    <option value="vehicles">Vehicles</option>
                    <option value="furniture">Furniture</option>
                    <option value="electronics">Electronics</option>
                    <option value="other">Other</option>
                </select>
            </label>
            <label>
                <span>Image URL</span>
                <input type="text" name="imageUrl" value="{{data.imageUrl}}"></label>